---
import CrossFill from "~/components/icons/ph/CrossFill.astro";

import ThemeToggle from "./ThemeToggle.astro";
---

<header class="container mx-auto py-4">
  <nav class="flex">
    <div class="flex-0">
      <a
        class="relative inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md text-xl font-bold ring-offset-background transition-colors after:absolute after:bottom-2 after:h-[1px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primary after:transition-transform after:duration-300 after:ease-in-out hover:after:origin-bottom-left hover:after:scale-x-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        href="/">Vraves<span class="text-primary"><CrossFill /></span></a
      >
    </div>
    <div class="flex flex-1 justify-end">
      <ThemeToggle />
    </div>
  </nav>
</header>
