---
import { type HTMLAttributes } from "astro/types";

import { cn } from "~/lib/utils";

import Label from "./Label.astro";

type Props = HTMLAttributes<"input"> & {
  label?: string;
  labelClass?: string;
};

const { class: className, id, label, labelClass, ...props } = Astro.props;
---

<div class="relative">
  <input
    {...props}
    class={cn(
      "peer flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50",
      className,
    )}
    id={id}
    placeholder=" "
  />
  <Label
    class={cn(
      "peer-focus:secondary peer-focus:dark:secondary absolute start-2 top-2 z-10 origin-[0] -translate-y-5 scale-75 transform bg-background px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-5 peer-focus:scale-75 peer-focus:px-2 dark:bg-background rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4",
      labelClass,
    )}
    for={id}>{label}</Label
  >
</div>
